<!DOCTYPE html>
<html>
  <body>
    <header>
      <div class="container">
        <h1 style='color: red;'>Outil Downgrade</h1>
         <p>Bienvenue dans l'outil d'alertes downgrades de Canal!</p>
          <code>Powered by <em>Polyconseil</em></code>
        <strong><nav>
          <ul class="menu">
            <li><a href="{{ url_for('accueil') }}">Ici,l'accueil!</a></li>
            <li><a href="{{ url_for('sumup') }}">Summary alertes</a></li>
          </ul>
        </nav></strong>
      </div>
    </header>
  </body>
</html>
