<!DOCTYPE html>
<html>
{% extends "./public_template.html" %}
{% block title %}Acceuil{% endblock %}


 {% block main %}

  <body>

 <CENTER>
        <div class="container">
        <h1 style='color: #C3073F;'>Reporting Tokyo</h1>
        <p>Bienvenue dans l'outil de suivi des offres Canal!</p>

     
       <!--  <p>Une collaboration signée:</p>   --!>
 <hr width="30%">
       <img src="{{ url_for('static', filename='img/netflix-canal.png') }}" alt="" width="30%" >     

</div> 
<CENTER> 


<CENTER>
<footer id="footer">
<code style='color: #BAB2B5;'><em> Powered By Polyconseil</em></code>
</footer>
<CENTER>

 </body>
 {% endblock %}
</html>
