<!DOCTYPE html>
<html>
{% extends "./public_template.html" %}
{% block title %}Acceuil{% endblock %}


 {% block main %}

  <body>

 <CENTER>
     <link rel="stylesheet" href= "{{ url_for('static', filename='css/theme.css') }}" >
      <div class="container">
        <h1 style='color: #AC3B61;'>Outil Downgrade</h1>
        <p>Bienvenue dans l'outil d'alertes downgrades de Canal!</p>
        <strong><nav>
        <ul class="menu">
        </ul> 
       </nav></strong> 
<img src="{{ url_for('static', filename='img/logo_canal.jpg') }}" alt="" width="20%" >     
</div> 
<CENTER> 

 </body>
 <footer id="footer">
<code style='color: #BAB2B5;'><em> Powered By Polyconseil</em></code>
</footer>
 {% endblock %}
</html>
