<!DOCTYPE html>


<html>
{% extends "./public_template.html" %}
{% block title %}Alertes{% endblock %}


 {% block main %}

<body>
 <CENTER>
    <header>
      <link rel="stylesheet" href= "{{ url_for('static', filename='css/theme.css') }}" >
        <div class="container">
        <h1 style='color: #AC3B61;'>Summary Downgrade</h1>
        <hr width="30%">
      <h4 style='color: #E3AFBC;'>Les chiffres clés de la semaine</h4>
       <hr width="30%">
      <p>Volume global de downgrade : <em style ='color : #5D001E;'>{{ tot_down }}</em></p>
       <p>Perte globale en Marge: <em style ='color : #5D001E;'>{{ tot_marge }}</em> €</p>
       <p>Volume global de downgrade : <em style ='color : #5D001E;'>{{ avg_down_marge }}</em></p>
        <strong><nav>
        <ul class="menu">
        <a href="{{ url_for('clients_downgrade') }}" style= 'color: #5D001E;'>Top 5 Downgrades</a>
        </ul>
        </nav></strong>
      </div>
    </header>
  <CENTER>
 </body>
<footer id="footer">
<code style='color: #BAB2B5;'><em> Powered By Polyconseil</em></code>
</footer>
 {% endblock %}
</html>

